
.bg-dark{
  background-color: #343a40;
}


.text-white, .text-white span{
  color: #fff;
}

.text-bold{
  font-weight: bold;
}

.custom-image{
  padding: 10px;
  border-radius: 20px;
  width: calc(100% - 20px);
}

.custom-buttons button, .custom-buttons div{
  color: #fff;
  border-color: white;
}